# downloaded data
data_224x224
data_256x256
behavior
results
results_vgg16

# ignore downloaded models
*.proto
*.prototxt
*.caffemodel
*.h5
*.pt
*.mat

# 
caffemodel2pytorch.py
main.py
sandbox.ipynb
__pycache__